@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
    --Blued: #045A7A;
    --Pri-blued: #64A2C7;
    --White: #fff;
}

/* Base style */

* {
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--White);
    color: var(--Blued);
}

body {
	width: 100vw;
    font-size: 16px;
    color: var(--White);
    background: var(--Blued);
}

/* Content box */

.main-heading{
    font-size: 2rem;
}

.ani-text {
    background: var(--White);
    color: var(--Blued);
}

.content-box {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter-box {
    display: inline-block;
    min-height: 110px;
    min-width: 110px;
    padding-top: 1em;
    text-align: center;
    border: 1px solid var(--White);
    background: var(--Pri-blued);
}

.counter-box span {
    display: block;
}

.counter-number {
    font-size: 2rem;
    color: var(--White);
}

.counter-text {
    font-size: 1rem;
    color: var(--White);
}

.landing-img {
    background-image: url(../assets/PescaWelcome.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}