@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
    --Blued: #045A7A;
    --Pri-blued: #64A2C7;
    --White: #fff;
}

/* Base style */

* {
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: var(--White);
    color: var(--Blued);
}

body {
	width: 100vw;
    color: var(--White);
    background: var(--Blued);
}

.main-heading{
    font-size: 25px;
}